<!DOCTYPE html>
<html>
<body>
<h1>Welcome to CRM</h1>

<p>This is probably the best CRM of all time</p>
<p>Courtesy of <%= @crm_app_name %></p>
<p><%= @current_time %>


<ul>
	<li><a href = "/contacts">View all contacts</a></li>
	<li><a href = "/contacts/new">Add a new contact</a></li>
	<li><a href = "/contacts/:id">To find a contact</a></li>
	<li><a href = "/contacts/:id/edit">To edit a contact</a></li>
</ul>

</body>
</html>